<div class="jumbotron">
  <h1>Hastwerk Kraftwerk</h1>
  <p class="lead">
    <!--<img src="images/yeoman.png" alt="I'm Yeoman">--><br>
    Kjøp billig strøm her!
  </p>
  <p><a class="btn btn-lg btn-primary" ng-href="#/products">Gå til prisoversikt</span></a></p>
</div>

<div class="row marketing">
  <h4>Hastwerk</h4>
  <p>
    Vi er en strømleverandør som leverer strøm som er laget av 100% ren tysk electronica/avant-garde musikk.
  </p>

  <h4>Leveringsdyktig</h4>
  <p>
    Vi selger strøm til hele verden, så om du skal sykle Tour de France eller kjøre på Autobahn så kan du få strøm fra oss.
  </p>

</div>
